#            Teste de Automação com Python
 
 A Automação será com a linguagem Python, para resolver isso, vou usar pyautogui, uma biblioteca de automação comandos do mause e do teclado, irei baixar os dados do site Kaggle, fazer a manipulação com panda e enviar um "relatorio" no gmail de teste. 
  


dados: https://www.kaggle.com/code/rafanthx13/analise-da-rea-de-dados-no-brasil/data
Email: janataaruanda1999@gmail.com

! pip install pyautogui

In [1]:
!pip install opencv-python

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: opencv-python in c:\users\janatã\appdata\roaming\python\python39\site-packages (4.6.0.66)
Requirement already satisfied: numpy>=1.19.3 in c:\programdata\anaconda3\lib\site-packages (from opencv-python) (1.21.5)

In [2]:
!pip install zipfile36

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: zipfile36 in c:\users\janatã\appdata\roaming\python\python39\site-packages (0.1.3)

In [3]:
#!pip install os-sys

In [4]:
!pip install  pytest-shutil

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pytest-shutil in c:\users\janatã\appdata\roaming\python\python39\site-packages (1.7.0)
Requirement already satisfied: six in c:\programdata\anaconda3\lib\site-packages (from pytest-shutil) (1.16.0)
Requirement already satisfied: execnet in c:\users\janatã\appdata\roaming\python\python39\site-packages (from pytest-shutil) (1.9.0)
Requirement already satisfied: mock in c:\programdata\anaconda3\lib\site-packages (from pytest-shutil) (4.0.3)
Requirement already satisfied: pytest in c:\programdata\anaconda3\lib\site-packages (from pytest-shutil) (7.1.1)
Requirement already satisfied: termcolor in c:\users\janatã\appdata\roaming\python\python39\site-packages (from pytest-shutil) (2.0.1)
Requirement already satisfied: contextlib2 in c:\users\janatã\appdata\roaming\python\python39\site-packages (from pytest-shutil) (21.6.0)
Requirement already satisfied: path.py in c:\users\janatã\appdata\roaming\python\python39\site-packages (from pytest-shutil) (12.5.0)
Requirement already satisfied: path in c:\users\janatã\appdata\roaming\python\python39\site-packages (from path.py->pytest-shutil) (16.5.0)
Requirement already satisfied: attrs>=19.2.0 in c:\programdata\anaconda3\lib\site-packages (from pytest->pytest-shutil) (21.4.0)
Requirement already satisfied: iniconfig in c:\programdata\anaconda3\lib\site-packages (from pytest->pytest-shutil) (1.1.1)
Requirement already satisfied: packaging in c:\programdata\anaconda3\lib\site-packages (from pytest->pytest-shutil) (21.3)
Requirement already satisfied: pluggy<2.0,>=0.12 in c:\programdata\anaconda3\lib\site-packages (from pytest->pytest-shutil) (1.0.0)
Requirement already satisfied: py>=1.8.2 in c:\programdata\anaconda3\lib\site-packages (from pytest->pytest-shutil) (1.11.0)
Requirement already satisfied: tomli>=1.0.0 in c:\programdata\anaconda3\lib\site-packages (from pytest->pytest-shutil) (1.2.2)
Requirement already satisfied: atomicwrites>=1.0 in c:\programdata\anaconda3\lib\site-packages (from pytest->pytest-shutil) (1.4.0)
Requirement already satisfied: colorama in c:\programdata\anaconda3\lib\site-packages (from pytest->pytest-shutil) (0.4.4)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\programdata\anaconda3\lib\site-packages (from packaging->pytest->pytest-shutil) (3.0.4)

In [5]:
import pyautogui 
import time 
import pyperclip

pyautogui.PAUSE = 1

#pyautogui.click -> clicar
#pyautogui.press -> apertat 1 teclada 
#pyautogui.hotkey -> conjunto de teclada 
#pyautogui.write -> escrever
#pyperclipe -> copiar 
#time -> tempo de excução


# Passo 1: Entrar no sistema de browser(navegador)
pyautogui.press("win")
pyautogui.write("chrome")
pyautogui.press("enter")
time.sleep(3)

# Passo 2: Encontrar o site para base de dados 
pyautogui.write("https://www.kaggle.com/datasets/jefferymandrake/nyc-jobs-filtered-cols")
pyautogui.press('enter')

while not pyautogui.locateOnScreen("conjunto.png", confidence=0.9):
    time.sleep(1)

# Passo 3: Fazer o donwload da bade de dados 
pyautogui.click(x=1166, y=84)
pyautogui.click(x=820, y=182)
time.sleep(2)

In [6]:
# Passo 4: Mover o arquivo zip para o diretorio  
import shutil 
shutil.move(r"C:\\Users\\Janatã\\Downloads\\archive (1).zip" ,r"C:\\Users\\Janatã\\Desktop\\Automação_Python")

'C:\\\\Users\\\\Janatã\\\\Desktop\\\\Automação_Python\\archive (1).zip'

In [7]:
# passo 5: Descompactar (.ZIP)
from zipfile import ZipFile
with ZipFile("archive (1).zip", "r") as dados_zip:
    dados_zip.extractall()

In [8]:
# Passo 5: Fazer toda manipulação (ETL)
import pandas as pd
tabela = pd.read_csv("NYC_Jobs_filtered_cols.csv")

# editar nome das colunas
tabela.rename(columns={'Job ID' : 'ID Emprego',
                       'Job Category' : 'Categoria Emprego',
                       'Salary Range From' : 'Faixa Salarial de',
                       'Salary Range To' : "Faixa Salarial até"}, inplace=True)

In [9]:
# Inprimindo a tabela 
tabela.head()

,ID Emprego,Civil Service Title,Agency,Posting Type,Categoria Emprego,Faixa Salarial de,Faixa Salarial até
0,544477,ADM CONSTRUCTION PRJ MGR-NM,DEPARTMENT OF TRANSPORTATION,External,"Engineering, Architecture, & Planning",53702.0,146121.0
1,459790,ADM MANAGER-NON-MGRL FRM M1/M2,HRA/DEPT OF SOCIAL SERVICES,Internal,Administration & Human Resources Constituent S...,76270.0,98830.0
2,272382,ASSOCIATE PUBLIC HEALTH SANITA,DEPT OF ENVIRONMENT PROTECTION,Internal,"Public Safety, Inspections, & Enforcement",60673.0,91795.0
3,539975,ADMINISTRATIVE DIRECTOR OF RES,ADMIN FOR CHILDREN'S SVCS,External,Social Services,80000.0,84000.0
4,547692,COMMUNITY ASSOCIATE,BRONX DISTRICT ATTORNEY,External,Administration & Human Resources Legal Affairs...,60000.0,60000.0

In [10]:
## Excluindo algumas Colunas 
tabela.drop("Civil Service Title", axis=1, inplace=True)
tabela.drop("Agency",  axis=1, inplace=True)
tabela.drop("Posting Type",  axis=1, inplace=True)

In [11]:
tabela.head()

,ID Emprego,Categoria Emprego,Faixa Salarial de,Faixa Salarial até
0,544477,"Engineering, Architecture, & Planning",53702.0,146121.0
1,459790,Administration & Human Resources Constituent S...,76270.0,98830.0
2,272382,"Public Safety, Inspections, & Enforcement",60673.0,91795.0
3,539975,Social Services,80000.0,84000.0
4,547692,Administration & Human Resources Legal Affairs...,60000.0,60000.0

In [12]:
## Exportando tabela 
tabela.to_csv('Salario_Categoria_NYC.csv')

In [13]:
## Filtrando por Categoria
categoria_tdi = tabela.loc[tabela['Categoria Emprego']=='Technology, Data & Innovation']
display(categoria_tdi)

,ID Emprego,Categoria Emprego,Faixa Salarial de,Faixa Salarial até
12,544973,"Technology, Data & Innovation",100000.0,180000.0
42,531632,"Technology, Data & Innovation",95000.0,110000.0
49,537855,"Technology, Data & Innovation",58700.0,105000.0
53,552636,"Technology, Data & Innovation",58839.0,75000.0
91,455079,"Technology, Data & Innovation",75000.0,160000.0
...,...,...,...,...
5208,535503,"Technology, Data & Innovation",58700.0,66000.0
5209,545250,"Technology, Data & Innovation",58700.0,70000.0
5212,552342,"Technology, Data & Innovation",73358.0,95000.0
5217,533082,"Technology, Data & Innovation",100000.0,120000.0
5220,532461,"Technology, Data & Innovation",100000.0,140000.0

In [14]:
#maior = tabela['Faixa Salarial de'].max()
#menor = tabela['Faixa Salarial de'].min()

#print(maior)
#print(menor)

In [15]:
maximo = tabela.max()
display(maximo)

C:\Users\Janatã\AppData\Local\Temp\ipykernel_10908\943985497.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  maximo = tabela.max()

ID Emprego            552937.0
Faixa Salarial de     270000.0
Faixa Salarial até    300000.0
dtype: float64

In [16]:
tabela_qtd = tabela['Categoria Emprego'].value_counts()
display(tabela_qtd)

Engineering, Architecture, & Planning                                                                                                                                                                                                             521
Technology, Data & Innovation                                                                                                                                                                                                                     455
Legal Affairs                                                                                                                                                                                                                                     432
Constituent Services & Community Programs                                                                                                                                                                                                         346
Finance, Accounting, & Procurement                                                                                                                                                                                                                324
                                                                                                                                                                                                                                                 ...
Constituent Services & Community Programs Engineering, Architecture, & Planning Public Safety, Inspections, & Enforcement                                                                                                                           1
Administration & Human Resources Technology, Data & Innovation Building Operations & Maintenance                                                                                                                                                    1
Constituent Services & Community Programs Technology, Data & Innovation Social Services                                                                                                                                                             1
Administration & Human Resources Communications & Intergovernmental Affairs Engineering, Architecture, & Planning Health Policy, Research & Analysis Public Safety, Inspections, & Enforcement                                                      1
Constituent Services & Community Programs Communications & Intergovernmental Affairs Engineering, Architecture, & Planning Technology, Data & Innovation Policy, Research & Analysis Public Safety, Inspections, & Enforcement Social Services      1
Name: Categoria Emprego, Length: 166, dtype: int64

In [17]:
categoria_tdi.max()

ID Emprego                                   552807
Categoria Emprego     Technology, Data & Innovation
Faixa Salarial de                          145000.0
Faixa Salarial até                         241434.0
dtype: object

In [18]:
##, clicks=1, interval=0.25)
#pyautogui.click(x=811, y=179)

In [19]:
#entrando no gmail
pyautogui.hotkey('ctrl' , 't')
pyautogui.write("https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox")
pyautogui.press('enter')
pyautogui.click(x=73, y=164, clicks=2, interval=0.25)
pyautogui.doubleClick(x=73, y=164) 

#Preenchendo a informação do e-mail 
time.sleep(6)
pyautogui.write("janataaruanda@gmail.com")
pyautogui.hotkey('tab')
pyautogui.hotkey('tab')
pyautogui.write('Relatorio Teste')
pyautogui.hotkey('tab')

texto = f"""
Olá Prezados(as)
Estou praticando automação com a linguagem Python, para resolver isso, vou usar pyautogui, uma biblioteca de automação comandos do mause e do teclado, irei baixar os dados do site Kaggle,fazer a manipulação com panda e enviar um "relatorio" no gmail de teste.

A Categoria de Emprego Technology, Data & Innovation tento 455 empregados. 

{categoria_tdi.max()}


Att.Janatã Aruanda 
"""

## 
time.sleep(5)
pyperclip.copy(texto)
pyautogui.hotkey('ctrl' , 'v')

##
arquivo = r'C:\Users\Janatã\Desktop\Automação_Python\Salario_Categoria_NYC.csv'
pyautogui.click(x=963, y=676)
time.sleep(2)
pyperclip.copy(arquivo)
pyautogui.hotkey('ctrl' , 'v')
pyautogui.press('enter')


pyautogui.hotkey('ctrl' , 'enter')   

time.sleep(5)
pyautogui.click(x=631, y=213)

In [20]:
#time.sleep(5)
#pyautogui.position()